
[Bb]in/
[Oo]bj/
[Pp]ackages/

*.user
*.userosscache
*.suo

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

.vs/
*.csproj.user
*.sln.docstates

.idea/

.DS_Store
.AppleDouble
.LSOverride

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
